@import url(//fonts.googleapis.com/css?family=Open+Sans);

h2{
	color: white;
}

h1{
	color: white;
	background: #007acc;	
}

a{
	color: #00ffff;
}

a:hover{
	color: #00aaff;
}

a:visited{
	color: #00cccc;
}

body{
	background: #252526;
	font-family: 'Open Sans', sans-serif; 
	color: white;
	text-align: centre;
	border: 3px solid #007acc;
	margin: 35px
}


footer{
	text-align: center;
  	padding: 3px;
  	color: white;
	display: block;
	border: 5px solid #007acc;
	margin: 35px;
	background: #1e1e1e;
}
