h2{
	color: white;
}

h1{
	color: black;	
}

body{
	background: rgb(34,195,138);
	background: linear-gradient(0deg, rgba(34,195,138,1) 0%, rgba(235,45,253,1) 100%); 

}

footer{
	text-align: center;
  	padding: 3px;
  	color: white;
	display: block;
	padding-top: 70px;
	padding-right: 70px;
	padding-bottom: 70px;
	padding-left: 70px;
}
