h2{
	color: white;
}

h1{
	color: black;	
}

body{
	background-color: DarkSalmon;
	color: white;
}

footer{
	text-align: center;
  	padding: 3px;
  	background-color: DarkSalmon;
  	color: white;
	display: block;
}
